
@{
    ViewBag.Title = "Sayfa Bulunamadı";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 error-container">
            <img src="~/Content/site/hatamsj.jpg" alt="Error Image" class="error-image">
            <p class="error-message">Aradığınız sayfa bulunamadı.</p>
        </div>
    </div>
</div>

